---
import PageHeader from "@/components/PageHeader.astro"
import Layout from "@/layouts/Layout.astro"
import MaxWidth from "@/layouts/MaxWidth.astro"
import { Icon } from "astro-icon/components"
import Link from "@/components/Link.astro"
---

<Layout title="מידע חיוני והוראות לשימוש בסדרת המרגיעונים הטבעיים לבעלי חיים">
  <PageHeader
    image="/images/cats-on-counter.jfif"
    title="מידע חיוני והוראות לשימוש בסדרת המרגיעונים הטבעיים לבעלי חיים"
    paragraphs={[]}
    width="sm"
    imageProps={{ class: "w-[250px]" }}
  />
  <MaxWidth class="p-12 prose flex flex-col gap-10">
    <div>
      <h3>אזהרות:</h3>
      <ul>
        <li>התכשיר מיועד לשימוש בכלבים וחתולים.</li>
        <li>המוצר אינו מהווה תחליף לייעוץ וטרינרי.</li>
        <li>
          במידה ובעל החיים נוטל תרופות – יש להיוועץ בווטרינר המטפל לפני השימוש בתכשיר זה, על מנת להמנע מתגובות
          בין-תרופתיות.
        </li>
        <li>
          בהצמדות להוראות השימוש המפורטות מטה, הופעה של תופעות לוואי או של רגישות יתר ("אלרגיה") הינה נדירה מאוד. עם
          זאת, במידה ומופיעות תופעות חריגות לאחר השימוש בתכשיר, כגון: הקאות, שלשולים, תגובות של רגישות יתר ("אלרגיה" -
          נשימתית או עורית) או כל תופעה אחרת – יש להפסיק את השימוש מייד ולפנות לווטרינר המטפל בהקדם.
        </li>
        <li>התכשיר אינו מומלץ לשימוש בכלבות/חתולות בהריון. כלבות/חתולות מניקות – יש להיוועץ בווטרינר לפני השימוש.</li>
        <li>
          מומלץ לבצע <b>מבחן רגישויות</b> לפני השימוש, בהתאם להנחיות המפורטות מטה.
        </li>

        <li>
          מומלץ להעזר בסרטונים המצורפים אשר ממחישים כיצד נראית תגובה חיובית של כלבים וחתולים כאשר מוצע להם תכשיר להרגעה.
        </li>
        <li>חשוב לא לדחוף לאף ולא להכריח את בעל החיים להריח או לאכול מהתכשיר.</li>
      </ul>
    </div>

    <div class="h-20 w-30 flex items-center justify-center bg-primary-bg/30">*סרטונים*</div>

    <div class="flex flex-row-reverse gap-16">
      <div>
        <blockquote class="w-96 -ms-3 my-2 bg-primary-bg/80 p-3 rounded-md float-end">
          <h3>מבחן רגישויות</h3>
          <ul>
            <li>לפני השימוש הראשון בתכשיר, יש לפתוח את פיית הבקבוקון ולהציע לבעל החיים להריח ממרחק.</li>
            <li>
              במידה ובעל החיים מראה סימנים של רתיעה או נסיון להתרחק מאיזור הבקבוק –
              <b>יש להמנע משימוש באותו היום ולהציע שנית למחרת.</b>
              ניתן לחזור על כך ולהציע שימוש בבקבוק במשך מספר ימים.
            </li>
            <li>ניתן להציע את התכשיר גם כאשר הוא מדולל בתוך קערת מים נוספת בהתאם להוראות השימוש.</li>
            <li>במידה ובעל החיים מסרב להשתמש בתכשיר לאחר כל הנסיונות הנ"ל, יש להמנע מהשימוש בתכשיר.</li>
          </ul>
        </blockquote>
      </div>

      <div>
        <h3>הוראות השימוש:</h3>
        <ul>
          <li>לפני השימוש, יש לבצע את <b>מבחן הרגישויות</b> המתואר מעלה.</li>
          <li>התכשיר מיועד לשימוש פומי.</li>
          <li>
            המינון היומי המומלץ הינו:
            <ul>
              <li><b>לבע"ח במשקל של עד 10 ק"ג:</b> 5-10 ריסוסים, פעמיים ביום.</li>
              <li><b>לבע"ח במשקל הגבוה מ- 10 ק"ג:</b> 10-20 ריסוסים, פעמיים ביום.</li>
            </ul>
          </li>
          <li>
            יש להשתמש במינון המינימלי האפקטיבי ביותר עבור בעל החיים (ובלבד שהינו בתוך הטווח המומלץ בהתאם להוראות
            המפורטות מעלה).
          </li>
          <li>
            יש לרסס את התכשיר על גבי מזון או חטיפים, או ישירות לתוך קערת מים. במידה והשיטה המועדפת היא ריסוס לתוך המים,
            <b>חובה לספק לצד קערה זו קערת מים טריים נוספת</b> אשר לא מכילים את התכשיר.
          </li>
          <li>
            במידה והתכשיר ניתן להרגעה כללית – ניתן להשתמש בכל שעה ביום. ההמלצה הינה פעם בבוקר, ופעם בערב. התכשיר ניתן
            לשימוש עם או ללא מזון.
          </li>
          <li>
            במידה והתכשיר ניתן כתוסף נלווה לטיפול התנהגותי (לצד ייעוץ התנהגותי או אילוף) מומלץ להשתמש בתכשיר מייד לפני
            התרגולים הרלוונטיים או בהתאם להנחיות המטפל.
          </li>
          <li>
            במידה והתכשיר מיועד להרגעה לקראת סיטואציות נקודתיות אשר מהוות גורם סטרס קצר-טווח, כגון: ביקורים וטרינרים,
            מעבר דירה, נסיעות ברכב, רעשים חזקים – ניתן להשתמש במקביל להופעת הטריגר (שימוש זה יכול להוות מינון נוסף,
            שלישי, במידת הצורך).
          </li>
          <li>
            <b>עבור הפורמולה המיועדת להרגעה בשעות הלילה:</b> יש לצרוך פעם אחת כחצי שעה לפני שעת השינה של הבעלים. ניתן לרסס
            מהתכשיר גם על גבי מצע רך לשינה על מנת לעודד רגיעה ושינה עמוקה לאורך הלילה. מצע רך יכול להיות: מיטה, מגבת, מדף
            מרופד ועוד (המקום המועדף על בעל החיים לשינה).
          </li>
        </ul>
      </div>
    </div>
    <div>בכל שאלה נוספת לגבי השימוש, ניתן לפנות ישירות לייצרניות התכשיר בכתובות המייל הבאות:</div>
    <div class="flex gap-2 justify-around">
      <div class="flex flex-col gap-1 items-center justif-center">
        <div><img class="h-[200px]" src="/images/raz-logo.png" alt="רז פלוקסמן" /></div>
        <span class="font-bold">רז פלוקסמן - רפואה סינית לבע"ח </span>
        <div class="flex gap-1 items-center">
          <Icon name="fa6-solid:envelope" />
          <Link class="ltr" href="mailto:petcareraz@gmail.com">petcareraz@gmail.com</Link>
        </div>
        <div class="flex gap-1 items-center">
          <Icon name="fa6-brands:instagram" />
          <Link class="ltr" href="https://www.instagram.com/Pet.Care.Raz">Pet.Care.Raz</Link>
        </div>
      </div>
      <div class="flex flex-col gap-1 items-center justif-center">
        <div><img class="h-[200px]" src="/images/logo.jpg" alt="דקל עדן-צאליק" /></div>
        <span class="font-bold">דקל עדן-צאליק - טיפול וייעוץ התנהגותי לחתולים</span>
        <div class="flex gap-1 items-center">
          <Icon name="fa6-solid:envelope" />
          <Link class="ltr" href="mailto:contact@dekelscats.com">contact@dekelscats.com</Link>
        </div>
        <div class="flex gap-1 items-center">
          <Icon name="fa6-brands:instagram" />
          <Link class="ltr" href="https://www.instagram.com/Dekelscats">Dekelscats</Link>
        </div>
      </div>
    </div>
    <div>
      <h3>תנאי אחסון:</h3>

      <ul>
        <li>
          מנע הרעלה! יש לשמור תכשיר זה במקום סגור, מחוץ להישג ידם וטווח ראייתם של ילדים ו/או תינוקות ועל ידי כך תמנע
          הרעלה
        </li>
        <li>יש לאחסן בקירור בטמפרטורה של עד 4°C. אין להקפיא</li>
        <li>יש לאחסן את התכשיר באריזה המקורית על מנת לשמור על סטריליות התכשיר.</li>
        <li>
          יש להשתמש בתכשיר עד 6 חודשים מיום פתיחת הבקבוקון. עם פתיחת הבקבוקון, מומלץ לכתוב על גבי התווית את תאריך הפתיחה
          על מנת להמנע משימוש לאחר תאריך התפוגה
        </li>
        <li>התכשיר מסופק בתוך בקבוקון בגדלים: 15/40/60 ml. ייתכן ולא כל גודלי האריזות משווקים</li>
        <li>
          הפורמולה המסופקת בבקבוקון הינה נוזל בצבע שקוף-צהבהב בהיר ללא משקעים או עכירות. במידה ונצפים שינויים משמעותיים
          בצבע התכשיר או מופיעים משקעים, יש להמנע משימוש בתכשיר
        </li>
      </ul>
    </div>
    <blockquote>
      *לשם הפשטות ולהקלת הקריאה, תוכן דף זה מנוסח בלשון זכר. על אף זאת, המידע (והתכשיר) מיועד לבני שני המינים.
    </blockquote>
  </MaxWidth>
</Layout>
