---
import { cn } from "@/lib/utils"
import type { HTMLAttributes } from "astro/types"

type Props = HTMLAttributes<"button"> & {
  size?: "sm" | "md" | "lg"
  rounded?: "default" | "pill"
  href?: string
  target?: string
}

const { href, target, class: className, size = "md", rounded = "default", ...rest } = Astro.props
const cls = cn(
  "disabled:opacity-50 disabled:cursor-not-allowed",
  "bg-primary text-primary-foreground font-varela",
  "hover:bg-primary-hover",
  "transition-all",
  size === "sm" && "py-1.5 px-6 text-sm",
  size === "md" && "py-2 px-6",
  size === "lg" && "py-3 px-6 text-2xl",
  rounded === "pill" && "rounded-2xl",
  rounded === "default" && "rounded-md",
  className,
)
---

{
  !href ? (
    <button class={cls} {...rest}>
      <slot />
    </button>
  ) : (
    <a href={href} target={target} class={cls} {...rest}>
      <slot />
    </a>
  )
}
