---
const testimonials = [
  "אל הטיפול ההתנהגותי של דקל הגענו אחרי ששמענו את ההרצאה שלה 'לומדים חתולית', שהייתה אינפורמטיבית ומעמיקה. קיפי ובאבי חיו יחד כבר שנה וחצי בריבים קשים ובלתי פוסקים. אחרי מפגש זום אחד בלבד עם דקל, וליווי צמוד בוואצאפ לאחר מכן, אפשר להגיד שקיפי ובאבי כבר כמעט בסטיז! <mark>השינוי המהיר והמרגש בהתנהגות שלהם הפך את החיים שלנו לשלווים יותר!</mark>",
  "מזה כחודש וחצי שדקל מאמנת אותי לאמן את החתול שלי, פיליפ. פיליפ היה שורט ונושך אותי אחרי שאימצתי אותו. חברה יעצה לי לפנות אל דקל ומאז היחסים שלי עם החתול השתפרו פלאים. לא רק שהוא הפסיק לנשוך ולשרוט, <mark>הוא גם מצליח להשמע להוראותיי ומבין את כוונותיי.</mark> אני מוצאת שדקל מאמנת אותי לחנך את פיליפ <mark>בעדינות וברגישות לצרכיו כחתול.</mark>",
  'גרגמל חתולה זקנה, וכשהבאנו לה גורה קטנה חשבנו שהן הולכות להסתדר אבל מהר מאוד הבנו שאין סיכוי. ניסינו בעבר עם יועצת אחרת ולא הלך כ"כ. כבר עמדנו לוותר על הגורה ואחרי שמצאנו את דקל בפייסבוק החלטנו לעשות נסיון נוסף (וטוב שכך!) <br /> דקל הביאה איתה המון ידע, מקצועיות וסבלנות, <mark>ולימדה אותנו איך לגרום להן לסמוך עלינו.</mark> היום הן כבר במקום אחר לחלוטין, גרגמל כבר לא תוקפת את רוזי או אותנו ורוזי למדה לתת לגרגמל את הספייס שהיא צריכה.',
  "אימצנו חתול לאחר תקופה בה התאבלנו על מות הכלבה. לא הכרנו את הדרך בה חתולים מתנהגים, ובטח שלא גורים. ההתחלה הייתה מאוד קשה – מלא נשיכות, שריטות ולילות לבנים בהם השתולל בבית. כבר כמעט מסרנו אותו. החלטנו להתייעץ עם דקל כמוצא אחרון ואז זה קרה. <mark>האהבה שלה לחתולים מדבקת, הגישה המרגיעה והזמינות בכל עת לעצה והערה עשו את השינוי קודם אצלנו ואחר כך אצל החתול המתוק.</mark> דקל עובדת במקצועיות ובשיא הרצינות עם המון חן.",
  "הגענו לדקל אובדי עצות ומיואשים לגבי שלושת החתולים שלנו, לאחר גילוי תוקפנות של אחת מהחתולות כלפי חתול אחר ששינתה את כל הדינמיקה בבית. דקל הייתה מקצועית להפליא לאורך כל התהליך. האבחון שהיא נתנה היה מדויק וההוראות שניתנו לנו היו מפורטות וקלות ליישום. <mark>בעיה שחשבתי שלא יהיה ניתן לפתור נפתרה בתוך כמה שבועות,</mark> והסדר בבית שב על כנו. ממליצים בחום על דקל לכל מי שחווה קשיים עם החתולים שלו.",
  "אני מאוד שמחה להזדמנות להגיע לדקל לייעוץ. דקל היא אוצר ידע, מקצועית מאוד ויצירתית. אחרי פגישה מאוד עשירה היינו בקשר עם שאלות, תשובות, המלצות וצילומים. חשוב להוסיף שגם הוטרינר של החתול שלנו התרשם מהידע והבנת החתולים של דקל. <mark>קיבלנו יחס נהדר, חם וסבלני.</mark> ממליצה בחום!",
]
---

<div class="grid grid-cols-1 sm:grid-cols-3 gap-6 my-8">
  {
    testimonials.map((testimonial) => (
      <div>
        <img src="/images/quote.svg" alt='"' class="w-12 h-auto" />
        <p class="testimonial" set:html={`"${testimonial}"`} />
      </div>
    ))
  }
</div>
<style>
  .testimonial :global(mark) {
    background-color: transparent;
    color: theme("colors.primary.DEFAULT");
  }
</style>
