.consultpink img {
  width: 250px;
  margin-right: 30px;
  margin-top: 30px;
  border: 2px solid #ab3b55;
  border-radius: 5px;
  padding: 5px;
  border: 0;
  background: white;
  box-shadow: 2px 2px 6px -2px #00000030;
  margin: 0 auto;
  display: block;
}

.consultpink {
  display: block;
  /* text-align: center; */
}

.consultpink h1 {
  margin: 0 auto;
  font-family: "Varela Round";
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
}

.consultpink p {
  font-family: "Varela Round";
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
}

.consultdiv h2 {
  font-family: "Varela Round";
  font-weight: bold;
  font-size: 25px;
}

.consultlightpink {
  display: block;
}

.notes {
  font-size: 15px;
}

.underline {
  text-decoration: underline;
}

.actualnote {
  font-size: 10px;
}

.part2 li {
  margin-bottom: 33px;
  background-image: url(../../public/paw.svg);
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: 13px;
  padding-right: 25px;
  font-family: "Varela Round";
}

.part2 ul {
  list-style-type: none;
  margin-right: -38px;
}
