.contactpink {
  font-family: "Varela Round";
  font-weight: bold;
  font-size: 18px;
  text-align: right;
  line-height: 1.66;
  padding-bottom: 0;
}

.catform {
  width: 312px;
  margin-right: 30px;
  margin-top: 30px;
  border: 2px solid #ab3b55;
  border-radius: 5px;
  padding: 3px;
  border: 0;
  background: white;
  box-shadow: 2px 2px 6px -2px #00000030;
  margin: 0 auto;
  display: block;
}

.contactpink h2 {
  font-size: 20px;
  text-align: center;
}

.contactForm {
  background-color: #ebd5d5;
  padding: 40px;
  padding-top: 5px;
  text-align: center;
  font-family: "Varela Round";
  display: flex;
  background-image: url("../../public/catsillo.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 343px) -1px;
  background-size: 90px;
}

.contactForm h2 {
  margin-top: 0;
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
}

.contactForm p {
  font-size: 15px;
}

.contactForm i {
  padding: 7px;
  color: #ab3b55;
}

.space {
  display: inline-block;
  width: 15px;
}

.myname {
  font-weight: bold;
}
.sillo {
  width: 90px;
}

.contactForm a {
  color: black;
  text-decoration: none;
}
.contactNoImage {
  flex-grow: 1;
}
