.pinkback {
  background-color: #ebd5d5;
  display: flex;
  padding: 40px;
  padding-top: 20px;
}
.withmaxwidth {
  max-width: 1000px;
  display: flex;
  margin: 0 auto;
}
.withmaxwidthdif {
  max-width: 1100px;
  display: flex;
  margin: 0 auto;
}

.withmaxwidthnoflex {
  max-width: 1000px;
  margin: 0 auto;
}

.withmaxwidthnoflexdif {
  max-width: 800px;
  margin: 0 auto;
}

.meAndSummy {
  border-radius: 50%;
  margin: 30px;
  margin-right: 0;
  width: 300px;
  height: 300px;
  border: 1px solid #ab3b55;
}

.frontpagetext h1 {
  font-family: "Varela Round";
  font-weight: bold;
  font-size: 30px;
  padding-top: 30px;
}

.frontpagetext p {
  font-family: "Varela Round";
  /* font-weight: bold; */
  font-size: 18px;
  width: 100%;
}

.lightpinkback {
  background-color: #f2f2f2;
  font-family: "Varela Round";
  padding: 40px;
  padding-top: 20px;
  display: flex;
}

.lightpinkback img {
  width: 300px;
  margin-right: 30px;
  margin-top: 73px;
  border: 2px solid #ab3b55;
  border-radius: 5px;
  padding: 10px;
  border: 0;
  background: white;
  box-shadow: 2px 2px 6px -2px #00000030;
}

.bold {
  font-weight: bold;
}

.lightpinkback li {
  margin-bottom: 33px;
  background-image: url(../../public/paw.svg);
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: 13px;
  padding-right: 25px;
  padding-left: 25px;
}

.lightpinkback ul {
  list-style-type: none;
  padding-top: 20px;
}

.commonProblems {
  background-color: #ebd5d5;
  padding: 40px;
  padding-top: 20px;
  font-family: "Varela Round";
  font-weight: bold;
  font-size: 25px;
}

.commonProblems img {
  width: 300px;
  height: 200px;
  border-radius: 5px;
  border: 2px solid black;
  padding: 5px;
  border: 0;
  background: white;
  box-shadow: 2px 2px 6px -2px #00000030;
}

.commonProblems h2 {
  font-family: "Varela Round";
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.problems {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.problem {
  padding: 15px;
  text-align: center;
}

.contactForm {
  background-color: #f2f2f2;
  padding: 40px;
  text-align: center;
  font-family: "Varela Round";
  display: flex;
  background-image: url("../../public/catsillo.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 393px) 30px;
  background-size: 190px;
}

.contactForm h2 {
  margin-top: 0;
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
}

.contactForm p {
  font-size: 15px;
}

.contactForm i {
  padding: 7px;
  color: #ab3b55;
}

.space {
  display: inline-block;
  width: 15px;
}

.myname {
  font-weight: bold;
}

.contactForm button {
  background-color: #ab3b55;
  border: none;
  padding: 7px;
  border-radius: 100px;
  color: white;
  font-family: "Varela Round";
  font-weight: bold;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  width: 150px;
}
.sillo {
  width: 90px;
}

/* .contactinfo {
  /* display: flex;
  justify-content: center;
  align-items: center; */

.contactheader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactForm a {
  color: black;
  text-decoration: none;
}

.contactForm button:hover {
  background-color: #ea8a8a;
  cursor: pointer;
}

.contactNoImage {
  flex-grow: 1;
}

/* only do this for screens smaller than 700px */
@media (max-width: 700px) {
  .withmaxwidth {
    flex-wrap: wrap;
  }
}

@media (max-width: 900px) {
  .withmaxwidthdif {
    flex-wrap: wrap;
  }
  .picwrapper {
    flex: 1;
    text-align: center;
  }

  .withmaxwidthdif img {
    margin-right: 0;
    margin-top: 10px;
  }
}

@media (max-width: 390px) {
  .withmaxwidthdif {
    padding-left: 16px;
  }
  .withmaxwidthdif li {
    margin-right: 0;
  }

  .withmaxwidth img,
  .withmaxwidthdif img {
    max-width: 100%;
  }

  .withmaxwidth img {
    height: unset;
    margin-left: 0px;
  }
}

@media (max-width: 415px) {
}
