---
import Layout from "../layouts/Layout.astro"
import PhotoBorder from "../components/PhotoBorder.astro"
import MaxWidth from "../layouts/MaxWidth.astro"
import PageHeader from "@/components/PageHeader.astro"
const pCls = "text-md my-4 leading-snug font-varela"
---

<Layout title="טיפול וייעוץ התנהגותי לחתולים" footerProps={{ variant: "light" }}>
  <PageHeader
    title="קצת עליי"
    paragraphs={[
      "שמי דקל, יועצת להתנהגות חתולים ובוגרת תואר ראשון ושני בחוג למדעי בעלי החיים ווטרינריה של האוניברסיטה העברית.",
      "בעלי חיים הינם חלק בלתי נפרד מחיי. במהלך שנותיי באקדמיה למדתי רבות אודות הפיזיולוגיה, האנטומיה והאתולוגיה של מגוון בעלי חיים, ובשנים האחרונות הקדשתי חלק לא מבוטל מזמני בלימוד התנהגותם של חתולים, הבנת צרכיהם וחיפוש אחר דרכים לשפר את רווחתם בבית.",
      'בסיום לימודיי, הוכשרתי כמאבחנת, יועצת ומטפלת התנהגותית לחתולים בשיטה החיובית ("Force free") בהתמחות תחת הנחייתה של אפרת סימון.',
      "בעבודתי כיועצת התנהגות אני מסייעת לבעלי חתולים להתמודד עם מגוון בעיות, מספקת להם כלים לתקשורת נכונה עם חתולים, מייעצת ומנחה לגידול נכון של חתולי בית תוך דגש על צרכיו הטבעיים של החתול והדרכים למימושם בסביבה הביתית.",
      "אני מאמינה שעם ליווי מקצועי, סבלנות והרבה אהבה, יכול כל אדם להגיע לחיים שקטים והרמוניים עם חתוליו ולהנות משפע היתרונות של מחייה בסביבת בעלי חיים.",
    ]}
    image="/images/me-and-rocket.jpg"
    imageProps={{ class: "h-[233px] w-[300px] mt-14", borderSize: "sm" }}
    direction="row"
    width="md"
  />
  <div class="bg-bg p-12 pb-0">
    <MaxWidth class="border-[2px] border-transparent border-b-primary-bg border-dashed pb-12">
      <h1 class="text-2xl font-bold font-varela">כיצד תוכלו להעזר בי?</h1>
      <div class="flex gap-16">
        <div>
          <p class={pCls}>אני עורכת ביקורי בית, פגישות זום ומלווה בשאלות אונליין לנוחיותכם.</p>

          <p class={pCls}>
            ניתן לפנות אליי לפתרון מגוון בעיות התנהגותיות שיש לכם עם חתולכם, לייעוץ כללי, הכנת חתולכם לשינויים גדולים
            צפויים (כמו מעבר דירה, לידה ועוד), לטיפים להכנת הבית לפני אימוץ חתולכם או לכל שאלה אחרת.
          </p>
        </div>
        <div class="flex-shrink-0 -mt-8">
          <PhotoBorder src="/images/me-and-summer.jpg" alt="Sammy" class="w-[220px] h-[220px]" />
        </div>
      </div>
    </MaxWidth>
  </div>
</Layout>
