---
import PawList from "@/components/PawList.astro"
import Layout from "@/layouts/Layout.astro"
import MaxWidth from "@/layouts/MaxWidth.astro"
import PageHeader from "@/components/PageHeader.astro"
import { cn } from "@/lib/utils"
const pCls = "text-md my-4 leading-snug font-varela"
---

<Layout title="טיפול וייעוץ התנהגותי לחתולים" footerProps={{ title: "ליצירת קשר ורכישת חבילת ייעוץ:" }}>
  <PageHeader
    image="/images/cats-on-counter.jfif"
    title="למי מיועד הייעוץ?"
    paragraphs={[
      "היעוץ מיועד לכל אדם אשר מעוניין להבין טוב יותר את החתול שלו, למנוע בעיות התנהגות או לפתור בעיית התנהגות קיימת ולשפר את איכות החיים של החתול וכלל חברי הבית.",
      "אוכל לסייע במגוון מצבים כמו: תוקפנות, עשיית צרכים מחוץ לארגז החול, הרס רהיטים בבית, יללנות יתר, הכנה למעבר דירה עם חתולים, מציאת דרכים להפגת שעמום בקרב חתולים, חיבור בין חתולי הבית, חיבור בין כלב וחתול, ייעוץ לפני אימוץ, התאמת הבית לצרכי החתול ועוד.",
    ]}
    width="sm"
    imageProps={{ class: "w-[250px]" }}
  />
  <div class="bg-bg p-12 pb-8">
    <MaxWidth>
      <h1 class="text-2xl font-bold font-varela">תהליך הייעוץ:</h1>

      <div>
        <p class={pCls}>
          לפני שנפגש, יש להפנות את החתול לבדיקה וטרינרית על מנת לשלול את קיומה של בעיה רפואית אשר עשויה לגרור בעיה
          התנהגותית. לאחר מכן, נוכל להמשיך ולאבחן את הטריגר לבעיה באמצעים התנהגותיים.
        </p>

        <p class={pCls}>
          כל חתול הוא ייחודי, ונרצה לקיים פגישות בהן החתול (והבעלים) מרגיש בנוח ובביטחון, ולכן כתלות בבעיה ובאופי החתול,
          נוכל להחליט יחדיו האם מדובר בבעיה שניתן לפתור במפגשים וירטואליים דרך הזום, או לקיים פגישה פרונטלית* בביתכם.
        </p>
        <p class={pCls}>
          הפגישה תורכב מחלק תיאורטי, אשר מורכב משלב <u>אבחון</u> בו אכיר אתכם, את מבנה הבית את שגרת חייו של חתולכם ואת פרטי
          המקרה, ובשלב הבא נבנה יחדיו <u>תוכנית פעולה</u> מפורטת לפתרון הבעיה. החלק השני של הפגישה יהיה חלק מעשי בהתאם לפרטי
          המקרה.
        </p>
        <p class={pCls}>
          לאחר הפגישה, אשלח לכם דוח מפורט של סיכום המפגש, ותוכלו לקבל מענה טלפוני (בשיחות או בהודעות) ותמיכה מלאה בהמשך
          התהליך גם בין המפגשים.
        </p>
        <p class={cn(pCls, "text-[10px]")}>*מפגשים פרונטליים נערכים בצפון ובמרכז בהתאם לזמינות.</p>
      </div>
    </MaxWidth>
  </div>
  <div class="bg-primary-bg p-12 pb-px">
    <MaxWidth>
      <h1 class="text-2xl font-bold font-varela">תהליך הייעוץ:</h1>

      <PawList>
        <li>
          <b>חד פעמית -</b> פגישת זום או פגישה פרונטלית חד פעמית באורך שעה – מתאים לשאלות נקודתיות או לקבלת מידע במקרים בהם
          לא נדרש טיפול בבעיה התנהגותית מסוימת.
        </li>
        <li>
          <b>חבילת פרימיום -</b> 3 מפגשי זום/מפגשים פרונטליים/שילוב של השניים על בסיס שבועי + ליווי אישי במשך חודש בו תוכלו
          לשאול שאלות, לשלוח לי סרטונים למעקב ולקבל את הפידבק שלי על ההתקדמות או תרגילי האימון.
        </li>
      </PawList>
    </MaxWidth>
  </div>
</Layout>
