---
import Button from "@/components/Button.astro"
import { PHONE, EMAIL } from "@/lib/consts"
import { cn } from "@/lib/utils"

export type Props = {
  variant?: "light" | "primary"
  title?: string
}

const { title, variant = "primary" } = Astro.props
---

<footer class={cn("footer-img", variant === "primary" && "bg-primary-bg")}>
  <div class="flex flex-col items-center gap-8 py-12">
    <h2 class="text-3xl font-bold font-varela">{title ?? "צרו קשר"}</h2>

    <div class="flex flex-col gap-4 items-center justify-center">
      <div class="flex flex-col sm:flex-row items-center gap-4 font-varela">
        <b>דקל עדן-צאליק</b>
        <span class="text-[15px] inline-flex gap-2 items-center">
          <i class="text-primary fas fa-phone-square-alt"></i>
          {PHONE}
        </span>
        <span class="hidden sm:inline-block">|</span>
        <a class="inline-flex gap-2 items-center" href={`mailto:${EMAIL}`}>
          <i class="text-primary fas fa-envelope-square"></i>
          {EMAIL}
        </a>
      </div>
      <div class="flex items-center justify-center">
        <Button class="btn" href="/contact">טופס יצירת קשר</Button>
      </div>
    </div>
  </div>

  <div class="font-varela w-full bg-bg p-2 flex items-center justify-between text-[10px]">
    <div>כל הזכויות שמורות &copy; דקל עדן-צאליק</div>
    <div>בניית האתר: דקל עדן-צאליק, חן אסרף</div>
  </div>
</footer>
<style>
  .footer-img {
    background-image: url("/images/big-stretch.svg");
    background-position: calc(50% - 343px) 28px;
    background-repeat: no-repeat;
    background-size: 90px;
  }
</style>
