---
// import { ViewTransitions } from "astro:transitions"
import NavBar from "./NavBar.astro"
import Footer, { type Props as FooterProps } from "./Footer.astro"

interface Props {
  title: string
  footerProps?: FooterProps
}

const { title, footerProps } = Astro.props
const PREFIX = "דקל"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="manifest" href="/manifest.json" />
    <title>{title ? `${PREFIX} | ` + title : PREFIX}</title>
    <script src="https://kit.fontawesome.com/d380f4a062.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Varela+Round&display=swap"
      rel="stylesheet"
    />
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-58D37SP6JJ"></script>
    <script>
      declare global {
        interface Window {
          dataLayer: any[]
        }
      }
      window.dataLayer = window.dataLayer || []
      function gtag(...args: any[]) {
        window.dataLayer.push(args)
      }
      gtag("js", new Date())

      gtag("config", "G-58D37SP6JJ")
    </script>
  </head>
  <body>
    <NavBar />
    <slot />
    <Footer {...footerProps} />
    <style is:global>
      html,
      body {
        direction: rtl;
        font-family: theme("fontFamily.varela");
        -webkit-font-smoothing: antialiased;
      }

      p {
        @apply text-lg my-4 leading-snug font-varela;
      }
    </style>
  </body>
</html>
