---
import { cn } from "@/lib/utils"
type Props = {
  ["class"]?: string
  size?: "md" | "lg"
  rounded?: "default" | "pill"
  href?: string
  target?: string
}

const { href, target, class: className, size = "md", rounded = "default" } = Astro.props
const cls = cn(
  "bg-primary text-primary-foreground font-varela",
  "hover:bg-primary-hover",
  "transition-all",
  size === "md" && "py-1.5 px-6 text-sm",
  size === "lg" && "py-3 px-6 text-2xl",
  rounded === "pill" && "rounded-2xl",
  rounded === "default" && "rounded-md",
  className,
)
---

{
  !href ? (
    <button class={cls}>
      <slot />
    </button>
  ) : (
    <a href={href} target={target} class={cls}>
      <slot />
    </a>
  )
}
