---
//
---

<div>
  <form id="lecture-signin"></form>
  <template id="video-template"> </template>
  <script>
    const form = document.querySelector("#lecture-signin")!
    const description = document.querySelector("#lecture-description")!

    form.addEventListener("submit", submit)

    function submit(e: Event) {
      e.preventDefault()
    }
  </script>
</div>
