---
import { cn } from "@/lib/utils"
import type { HTMLAttributes } from "astro/types"

type Props = HTMLAttributes<"a">

const { class: className, ...rest } = Astro.props
---

<a class={cn("hover:text-primary hover:underline transition-colors", className)} {...rest}>
  <slot />
</a>
